.card {
  background-color: $color-white;
  position: relative;
  max-width: 360px;
  width: 100%;
  padding-bottom: 124.44%;
  border: none;

  h3 {
    font-weight: 700;
    font-size: 26px;
    line-height: 29px;
    text-align: center;

    margin-top: 0;
    margin-bottom: 9px;
  }

  p {
    margin: 0;
    margin-bottom: 65px;
    text-align: center;
    color: $color-chambray;
  }

  p:nth-child(3) {
    margin: 0;
    margin-left: 5px;
    font-weight: 700;
    font-size: 60px;
    line-height: 90px;
    color: $color-egyptian-blue;
    position: relative;
  }

  span:first-child {
    font-size: 100px;
    line-height: 150px;
    color: $color-whisper;
    opacity: 0.48;
    position: absolute;
    top: -50px;
    left: -20px;
  }

  span:last-child {
    position: relative;
    z-index: 1;

    span {
      color: $color-sapphire;
      font-weight: 700;
      font-size: 60px;
      line-height: 90px;
      opacity: 1;
      position: static;
    }
  }

  @media (hover: hover), screen and (min-width: 0\0) {
    &:hover,
    &:focus-within {
      &::after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        border-width: 7px;
        border-style: solid;
        border-image: $blue-red-border-card 10;
      }

      .card__btn {
        color: $color-white;
        border: none;
        background-image: $blue-red-button;
      }
    }
  }
}

.card__wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  padding: 17.5% 15px 19% 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card__btn {
  margin: 0;
  margin-top: auto;
  width: 206px;
}

@include vp-1199 {
  .card {
    max-width: none;
    padding-bottom: 70%;

    h3 {
      margin-bottom: 10px;
    }
  }

  .card__wrapper {
    padding: 10% 15px;
  }

  .card__btn {
    width: 80%;
    margin-bottom: -4px;
  }
}

@include vp-1023 {
  .card {
    padding-bottom: 101.36%;
  }

  .card__wrapper {
    padding: 15.4% 15px;
  }

  .card__btn {
    width: 50%;
  }
}

@include vp-767 {
  .card {
    h3 {
      font-size: 22px;
      line-height: 24px;
      margin-bottom: 8px;
    }

    p {
      margin-bottom: 55px;
    }

    p:nth-child(3) {
      font-size: 48px;
      line-height: 72px;
      margin-left: 8px;
    }

    span:first-child {
      font-size: 80px;
      line-height: 120px;
      top: -45px;
    }

    span:last-child {
      span {
        font-size: 48px;
        line-height: 72px;
      }
    }
  }

  .card__btn {
    width: 80%;
    margin-bottom: 0;
  }
}

@include vp-374 {
  .card {
    padding-bottom: 132.41%;
  }

  .card__wrapper {
    padding: 17% 15px 20% 15px;
  }

  .card__btn {
    width: 79.3%;
  }
}
