.card {
  background-color: $color-white;
  position: relative;
  max-width: 360px;
  width: 100%;
  padding-bottom: 124.44%;
  border: none;

  h3 {
    font-weight: 700;
    font-size: 26px;
    line-height: 29px;
    text-align: center;

    margin-top: 0;
    margin-bottom: 9px;
  }

  p {
    margin: 0;
    margin-bottom: 65px;
    text-align: center;
    color: $color-chambray;
  }

  .card__price {
    margin: 0;
    margin-left: 5px;
    font-weight: 700;
    font-size: 60px;
    line-height: 90px;
    color: $color-egyptian-blue;
    position: relative;
  }

  .card__price-shadow {
    font-size: 100px;
    line-height: 150px;
    color: $color-whisper;
    opacity: 0.48;
    position: absolute;
    top: -50px;
    left: -20px;
  }

  .card__price-main {
    position: relative;
    z-index: 1;
  }

  .card__price-ruble {
    color: $color-sapphire;
  }

  @media (hover: hover), screen and (min-width: 0\0) {
    &:hover {
      &::after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        border-width: 7px;
        border-style: solid;
        border-image: $blue-red-border-card 10;
      }

      .card__btn {
        color: $color-white;
        border: none;
        background-image: $blue-red-button;
      }
    }
  }
}

.card__wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  padding: 17.5% 15px 19% 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card__btn {
  margin: 0;
  margin-top: auto;
  width: 206px;
}
