.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;

  .form__box {
    position: relative;

    &::after {
      content: "";
      display: block;
      width: 100%;
      height: 1px;
      position: absolute;
      bottom: -1px;
      background-color: $color-light-slate-grey;
    }
  }

  input[type="text"],
  input[type="tel"] {
    width: 100%;
    padding: 7px 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;

    color: $color-white;
    background-color: $color-transparent;
    border: none;
    outline: none;

    &::placeholder {
      color: $color-white;
      opacity: 1;
    }

    @media (hover: hover), screen and (min-width: 0\0) {
      &:hover,
      &:focus {
        outline: 1px solid $color-light-slate-grey;
      }
    }

    &:active {
      outline: 1px solid $color-light-slate-grey;
    }
  }

  button[type="submit"] {
    margin: 0;
    padding: 15px;
    border-width: 3px;
    font-size: 14px;
    line-height: 16px;

    grid-column: 1 / 3;
    grid-row: 2 / 3;
  }
}

@include vp-1199 {
  .form {
    column-gap: 60px;
  }
}

@include vp-767 {
  .form {
    display: block;

    .form__box {
      margin-bottom: 30px;
    }

    button[type="submit"] {
      margin-top: 10px;
      width: 100%;
    }
  }
}
