.gym {
  h2 {
    margin-bottom: 12px;
  }

  .gym__leading {
    font-size: 18px;
    line-height: 27px;
    font-weight: 400;

    margin: 0;
    margin-bottom: 38px;
  }

  p {
    font-weight: 300;
    margin: 0;
    margin-bottom: 8px;
  }
}

.gym__wrapper {
  display: flex;
  justify-content: space-between;
}

.gym__box--text {
  max-width: 415px;

  padding-top: 42px;
  padding-left: 60px;
  margin-right: 10px;
}

.gym__box--photo {
  max-width: 660px;
  width: 56.9%;
}

.gym__box-wrapper {
  // position: relative;
  // overflow: hidden;
  // width: 100%;
  // padding-top: 60.76%;
}

.gym__img-wrapper {
  // position: absolute;
  // top: 0;
  // left: 0;
  // bottom: 0;
  // right: 0;
}

.gym__img {
  // max-width: none;
  // position: absolute;
  // top: 0;
  // left: 0;
}

.gym__box--video {
  display: flex;
  justify-content: center;
}

.gym__video {
  width: 364px;
  height: 228px;

  position: relative;
  top: -115px;
  left: 3.4%;
}


@include vp-1329 {
  .gym__video {
    top: -85px;
    left: 7%;
  }
}

@include vp-1279 {
  .gym__video {
    left: 10%;
  }
}

@include vp-1199 {
  .gym {
    margin-bottom: 10px;

    .gym__leading {
      margin-bottom: 34px;
    }

    p {
      margin-bottom: 0;
      width: 74.1%;
    }

    .gym__only-desktop {
      display: none;
    }
  }

  .gym__wrapper {
    display: block;
  }

  .gym__box--text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: none;
    padding-top: 0;
    padding-left: 0;
    margin-right: 0;
    margin-bottom: 45px;
  }

  .gym__box--photo {
    max-width: none;
    width: 100%;
  }

  .gym__box-wrapper {
    // padding-top: 50.88%;
  }

  .gym__img {
    // top: 0;
    // left: 0;
  }

  .gym__video {
    width: 266px;
    height: 167px;

    left: 0;
  }
}

@include vp-767 {
  .gym {
    // margin-bottom: 10px;

    .gym__leading {
      // margin-bottom: 34px;
    }

    p {
      // margin-bottom: 0;
      width: 100%;
    }
  }

  .gym__box--text {
    // display: flex;
    // flex-direction: column;
    align-items: flex-start;
    text-align: left;
    // max-width: none;
    // padding-top: 0;
    // padding-left: 0;
    // margin-right: 0;
    // margin-bottom: 45px;
  }

  .gym__box--photo {
    // max-width: none;
    // width: 100%;
  }

  .gym__box-wrapper {
    // padding-top: 97.8%;
    // margin-bottom: 40px;
  }

  .gym__img {
    // top: 0;
    // left: 0;
  }

  .gym__video {
    // width: 266px;
    // height: 167px;
    top: 0;
  }
}
