.page-footer {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: $color-black-russian;
  color: $color-white;
}

.page-footer__wrapper {
  display: grid;
  grid-template-columns: auto 200px;
  align-items: center;
}

.page-footer__box--social {
  margin-left: auto;
  margin-right: -11px;
}

.page-footer__menu-list {
  margin: 0;
  padding: 0;
  list-style: none;
  color: $color-white;

  display: grid;
  grid-template-columns: 38% repeat(5, minmax(40px, max-content));

  a {
    font-size: 14px;
    line-height: 16px;

    @media (hover: hover), screen and (min-width: 0\0) {
      &:hover,
      &:focus {
        color: darken($color-white, 40%);
      }
    }

    &:active {
      color: darken($color-white, 40%);
    }
  }
}

.page-footer__menu-item {
  margin-right: 40px;

  &--logo {
    grid-row: 1 / 4;
  }

  &:last-child {
    margin-right: 0;
  }
}

@include vp-1199 {
  .page-footer {
    padding-top: 43px;
    padding-bottom: 43px;
  }

  .page-footer__wrapper {
    grid-template-columns: auto 118px;
  }

  .page-footer__box--social {
    margin-right: -9px;
  }

  .page-footer__menu-list {
  grid-template-columns: 25.6% repeat(5, minmax(40px, max-content));
  }

  .page-footer__menu-item {
    margin-right: 30px;

    &:last-child {
      margin-right: 0;
    }
  }
}

@include vp-767 {
  .page-footer {
    padding-top: 50px;
    padding-bottom: 45px;
  }

  .page-footer__wrapper {
    display: block;
  }

  .page-footer__box--nav {
    margin-bottom: 30px;
  }

  .page-footer__box--social {
    margin: 0;
  }

  .page-footer__menu-list {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-auto-flow: column;
    row-gap: 14px;
    column-gap: 30px;

    a {
      font-size: 16px;
      line-height: 19px;
    }
  }

  .page-footer__menu-item {
    margin-right: 0;

    &--logo {
      grid-row: 1 / 2;
    }
  }
}
