.slider {
  position: relative;
}

.slider__container {
  overflow: hidden;
}

.slider__track {
  display: flex;
  justify-content: flex-start;

  transition-property: transform;
  transition-duration: 0.8s;
  transition-timing-function: ease;
}

.slider__item {
  flex-shrink: 0;
}

.slider__btn {
  background-color: $color-transparent;
  color: $color-dark-grey;
  width: 32px;
  height: 48px;
  border: none;
  padding: 0;
  cursor: pointer;
  user-select: none;

  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  &--previous {
    left: -64px;
  }

  &--next {
    right: -64px;

    .slider__btn-icon {
      transform: rotate(180deg);
    }
  }

  @media (hover: hover), screen and (min-width: 0\0) {
    &:hover,
    &:focus {
      color: $color-sapphire;
    }
  }

  &:active {
    color: $color-sapphire;
  }

  &:disabled {
    color: $color-spindle;
    cursor: auto;

    @media (hover: hover), screen and (min-width: 0\0) {
      &:hover,
      &:focus {
        color: $color-spindle;
      }
    }

    &:active {
      color: $color-spindle;
    }
  }
}

.slider--trainers {
  .slider__track {
    margin-right: -40px;
  }

  .slider__item {
    margin-right: 40px;
  }
}

@include vp-1199 {
  .slider--trainers {
    .slider__container {
      width: 83.48%;
      margin: 0 auto;
    }

    .slider__track {
      margin-right: -30px;
    }

    .slider__item {
      margin-right: 30px;
    }

    .slider__btn {
      &--previous {
        left: -10px;
      }

      &--next {
        right: -10px;
      }
    }
  }
}

@include vp-767 {
  .slider__btn {
    width: 26px;
    height: 35px;

    .slider__btn-icon {
      width: 10px;
      height: 19px;
    }
  }

  .slider--trainers {
    .slider__container {
      width: 77.94%;
    }

    .slider__track {
      margin-right: 0;
    }

    .slider__item {
      margin-right: 0;
    }
  }

  .slider--reviews {
    .slider__btn {
      &--previous {
        left: -10px;
      }

      &--next {
        right: -10px;
      }
    }
  }
}
