.subscriptions {
  padding-top: 120px;
  padding-bottom: 120px;
  margin-bottom: 120px;
  background-color: $color-ghost-white;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    bottom: -9%;
    right: -10%;
    width: 388px;
    height: 341px;
    background-image: url("../img/back/weights.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    @include retina {
      background-image: url("../img/back/weights@2x.png");
    }
  }

  h2 {
    margin-bottom: 40px;
  }
}

.subscriptions__heading {
  text-align: center;
}

@include vp-1199 {
  .subscriptions {
    padding-top: 100px;
    padding-bottom: 100px;
    margin-bottom: 105px;

    &::after {
      bottom: -3.5%;
      right: -5%;
      width: 340px;
      height: 299px;
    }

    h2 {
      margin-bottom: 32px;
    }
  }
}

@include vp-767 {
  .subscriptions {
    padding-top: 65px;
    padding-bottom: 70px;
    margin-bottom: 68px;

    &::after {
      display: none;
    }

    h2 {
      margin-bottom: 25px;
    }
  }
}
