.trainer-card {
  background-color: $color-sapphire;
  color: $color-white;
  max-width: 260px;
  position: relative;
  display: grid;

  h3 {
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
  }
}

.trainer-card__name {
  margin-bottom: 23px;
  margin-top: auto;

  grid-column: 1/-1;
  grid-row: 1/-1;
  z-index: 5;
}

.trainer-card__box-img {
  position: relative;
  overflow: hidden;

  grid-column: 1/-1;
  grid-row: 1/-1;
  z-index: 3;
}

.trainer-card__photo {
  max-width: none;
  position: absolute;
}

.trainer-card__description {
  padding: 0 5% 5%;
  margin-top: 75px;
  overflow-y: auto;

  grid-column: 1/-1;
  grid-row: 1/-1;

  p {
    color: $color-spindle;
    text-align: center;
    margin-top: 0;
    margin-bottom: 34px;
  }

  ul {
    margin: 0;
    margin-left: 18px;
    list-style: none;

    font-size: 14px;
    line-height: 21px;

    li {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        top: 7px;
        left: -15px;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: $color-white;
      }
    }

    li:not(:last-child) {
      margin-bottom: 12px;
    }
  }
}

.trainer-card:focus {
  .trainer-card__box-img {
    &::after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: $color-sapphire-tr89;
    }
  }

  .trainer-card__name {
    margin-bottom: auto;
    margin-top: 51px;
  }

  .trainer-card__description {
    z-index: 4;
  }
}

@media (hover: hover), screen and (min-width: 0\0) {
  .trainer-card:hover {
    .trainer-card__box-img {
      &::after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: $color-sapphire-tr89;
      }
    }

    .trainer-card__name {
      margin-bottom: auto;
      margin-top: 51px;
    }

    .trainer-card__description {
      z-index: 4;
    }
  }
}

.trainer-card[data-is-touch="true"] {
  .trainer-card__box-img {
    &::after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: $color-sapphire-tr89;
    }
  }

  .trainer-card__name {
    margin-bottom: auto;
    margin-top: 51px;
  }

  .trainer-card__description {
    z-index: 4;
  }
}

.trainer-card--pavlova {
  .trainer-card__photo {
    top: -13%;
    left: 0;
  }
}

.trainer-card--lavrov {
  .trainer-card__photo {
    top: -10%;
    right: 0;
  }
}

.trainer-card--pashkov {
  .trainer-card__photo {
    top: -6%;
    left: 0;
  }
}

.trainer-card--ketova {
  .trainer-card__photo {
    top: -16%;
    left: -13%;
  }
}

@include vp-1199 {
  .trainer-card {
    max-width: none;

    h3 {
      margin-left: 8px;
    }
  }

  @media (hover: hover), screen and (min-width: 0\0) {
    .trainer-card:hover {
      .trainer-card__name {
        margin-left: -8px;
      }
    }
  }

  .trainer-card[data-is-touch="true"] {
    .trainer-card__name {
      margin-left: -8px;
    }
  }
}

@include vp-767 {
  .trainer-card {
    h3 {
      margin-left: 0;
    }
  }

  .trainer-card__description {
    p {
      margin-bottom: 23px;
    }

    ul {
      margin-left: 0;

      li:not(:last-child) {
        margin-bottom: 13px;
      }
    }
  }

  @media (hover: hover), screen and (min-width: 0\0) {
    .trainer-card:hover {
      .trainer-card__name {
        margin-left: 0;
        margin-top: 40px;
      }
    }
  }

  .trainer-card[data-is-touch="true"] {
    .trainer-card__name {
      margin-left: 0;
      margin-top: 40px;
    }
  }
}
