.trainers {
  margin-bottom: 120px;

  h2 {
    margin-bottom: 60px;
  }
}

.trainers__box {
  position: relative;
}

.trainers__list {
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
  justify-content: space-between;
}

.trainers__btn {
  position: absolute;
  top: 50%;

  &--previous {
    left: -64px;
  }

  &--next {
    right: -64px;
  }
}
