// Colors
// ---------------------------------

// Default

$color-black:               #000000;
$color-white:               #ffffff;
$color-transparent:         rgba(255, 255, 255, 0);

// Project palette
// для нейминга цветов используем https://www.htmlcsscolor.com/hex/334482

$color-sapphire:        #102654;
$color-chambray:        #495a7d;
$color-ghost-white:     #f8f9fc;
$color-egyptian-blue:   #103aae;
$color-persian-blue:    #2e35ac;
$color-torch-red:       #ed0233;
$color-crimson:         #d10a42;
$color-smalt:           #00359f;
$color-cobalt:          #003eb7;
$color-resolution-blue: #1c3374;
$color-black-russian:   #030a1a;
$color-pompadour:       #831243;
$color-dark-cerulean:   #003d85;
$color-venetian-red:    #b80027;
$color-whisper:         #e8e8e8;
$color-dark-grey:       #afafaf;
$color-spindle:         #b6bdcc;
$color-light-slate-grey:#74819c;

$color-dark-cerulean-tr50:     rgba(20, 54, 122, 0.5);
$color-sapphire-tr50:          rgba(16, 38, 84, 0.5);
$color-sapphire-tr89:          rgba(16, 38, 84, 0.89);
$color-grey-tr20:              rgba(120, 120, 120, 0.2);
$color-crimson-tr20:           rgba(209, 10, 66, 0.2);
$color-resolution-blue-tr20:   rgba(28, 51, 116, 0.2);

// Gradient

// фон главного экрана
$blue-red-promo-desktop: conic-gradient(from 130.31deg at 16.03% 39.06%, $color-venetian-red -46.69deg, $color-dark-cerulean 32.24deg, $color-venetian-red 313.31deg, $color-dark-cerulean 392.24deg);

$blue-red-promo-tablet:  conic-gradient(from 139.4deg at 20.7% 35.74%, $color-venetian-red -46.69deg, $color-dark-cerulean 32.24deg, $color-venetian-red 313.31deg, $color-dark-cerulean 392.24deg);

$blue-red-promo-mobile:  conic-gradient(from 171.43deg at 35.31% 34.22%, $color-venetian-red -46.69deg, $color-dark-cerulean 32.24deg, $color-venetian-red 313.31deg, $color-dark-cerulean 392.24deg);

// рамка карточки
$blue-red-border-card:   linear-gradient(to bottom right, $color-crimson, $color-smalt);

// цветная кнопка
$blue-red-button: linear-gradient(97.05deg, $color-torch-red 17.6%, $color-cobalt 95.31%);

// цвет текста
$blue-red-text: linear-gradient(142.51deg, #d10a42 0%, #0041ca 87.33%);

// фон блока с формой и контактами
$sapphire-white-back: linear-gradient(to right, $color-sapphire 50%, $color-white 50%);

// Typography
// ---------------------------------

// переменная используемая в html для подключения скейлинга
$fz-default:                        16px;

// у некоторых шрифтов в ios возникают проблемы с символом рубля
// https://www.artlebedev.ru/kovodstvo/sections/159/#13
$ff-bebas-neue:       "Bebas Neue", "Arial", sans-serif;
$ff-roboto-condensed: "Roboto Condensed", "Arial", sans-serif;

// Viewports
// ---------------------------------

$vp-320:                            320px;
$vp-375:                            375px;
$vp-540:                            540px;
$vp-675:                            675px;
$vp-768:                            768px;
$vp-1024:                           1024px;
$vp-1200:                           1200px;
$vp-1280:                           1280px;
$vp-1330:                           1330px;
$vp-1620:                           1620px;

// Retina
// ---------------------------------

$retina-dpi:                        144dpi;
$retina-dppx:                       1.5dppx;
